body{
    margin:0;
    line-height: 1;
}

.container{
    line-height: 1;
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 4%;
}


.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

h1.section2header {
    font-size: 55px;
    text-align: center;
    color:black;
}

#mission-statement{
    background-color: black;
    padding: 60px 0px 60px 0px;
    margin: 20px opx 20px 0px;
    width: 100%;
}

article p{
    font-size: 26px;
    padding: 20px;
    margin: 0% 15% 0% 15%;
    color: white;
    text-align: center;
    width: auto;
}
/********* Nav Bar **********/
nav{
    display: block;
    width: 100%;
    margin: 0;
}

nav ul{
    overflow: hidden;
    margin:0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.right-nav{
    float: right;
}

ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 15px;
    text-align:center;
    padding: 15px 50px 15px 50px;;
    text-transform: uppercase;
    color: black;
}

ul.topnav img{
    width: 40px;
    height: 40px;
    float: left;
    padding: 0 50px 0 50px;
    margin: 5px;
}

ul.topnav li a:hover{
    background-color:black;
    color: white;
}

/********** Column widths **********/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


/******** Welcome Div **********/
#welcome-section{
    background-color:black;
}

h1.welcome-col,
h2.subwelcome-col{
    color: white;
}

h1.welcome-col{
    font-size: 60px;
    text-align: center;
}

h2.subwelcome-col{
    font-size: 20px;
    text-align: center;
}

input.welcome-button{
width: 80px;
height: 50px;
text-align: center;
margin-left: 42%
}

div.leftside-col{
    margin: 0% 5% 0% 15%;
}

div.rightside-col{
    margin: 0% 5% 0% 15%;
}

.rightside-col img{
    width: 450px;
    height: 300px;
}

/******** Icons **********/

div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15),
    0 2px 3px 0 rgba(0,0,0,.1);
}

div.icon{
    width:100%;
}

img{
    width:180px;
    height:140px;
}

div.icon p{
    margin: 5%;
    padding: 1%;
}
